* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kalam", cursive;
    background-image: url(pixelcut-export.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background :linear-gradient(45deg, #ffb5dd, #bbbaf3);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    margin: 15px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;

}

button {
    background :linear-gradient(45deg, #e4007d, #2826a2);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

button:hover {
    background :linear-gradient(45deg, #2826a2, #e4007d);
}

.output-section {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
